body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.main-header {
	background-color: #FFF;
	padding: 20px 0;
}

.main-header-title {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.main-header-title a {
	text-decoration: none;
	color: inherit;
}

.main-header-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.main-content {
	margin-bottom: 20px;
}

.subtitle {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.main-footer {
	background-color: #324C64;
	padding-top: 20px;
}

.main-footer .subtitle {
	color: #FFF;
}

.container section{
	padding: 10px;
	min-height: 400px;
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.container section#home{
	padding: 0;
}

.container section p{
	margin-bottom: 10px;
}

.d-row{
	display: table-row;
	width: 100%;
}

.d-cell{
	display: table-cell;
}

.w-100{
	width:100%;
}

#home > img{
	width:100%;
}

#mission, #contact{
	background-color: lightgray;
}

@media(min-width: 769px) {
	.container {
		width: 85%;	
	}

	.main-header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.subtitle {
		text-align: left;
	}

	.main-header-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.main-header-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.main-header-title {
		margin: 0;
	}

	.main-header-nav {
		width: auto;
		display: flex;
	}

	.main-header-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}
}