body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.main-header {
	background-color: rgb(7,110,137);
	color:  #FFF;
	padding: 20px 0;
}

.main-header-title {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.main-header-title a {
	text-decoration: none;
	color: inherit;
}

.main-header-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.main-content {
	margin-bottom: 20px;
}

.subtitle {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.main-footer {
	background-color: rgb(7,110,137);
	padding: 20px 0;
	color: #FFF;
}

.container section{
	padding: 20px;
	min-height: 350px;
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.container section p{
	margin-bottom: 10px;
}

.form-client{
	width: 85%;
	min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-footer .container .subtitle{
	margin:auto;
}

section > img{
	width:100%;
}

#home > article
{
	align-items: center;
	align-content: space-between;
	display: flex;
	margin-bottom: 10px;
}

#home > article > img{
	width:50%;
}

#home, #class-diagram{
	background-color: lightgray;
}

#home > article > h3
{
	flex-grow: 1;
}

@media(min-width: 769px) {
	.container {
		width: 85%;	
	}

	.form-client{
		width: 400px;
	}

	.main-header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.subtitle {
		text-align: left;
	}

	.main-header-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.main-header-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.main-header-title {
		margin: 0;
	}

	.main-header-nav {
		width: auto;
		display: flex;
	}

	.main-header-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}
}